@{
    Layout = "~/Views/Shared/HomeLayout.cshtml";
    ViewBag.Title = "О нас";
    ViewBag.Menu = "about";
}


<div class="container">
    <h2 class="delivery-h">О компании</h2>
    <div class="delivery_description">
        <h2>История</h2>
        <p> </p>
        <p><span style="line-height: 1.5em;">История wok.by началась несколько лет назад с одного захватывающего путешествия по Юго-Восточной Азии. Мы много колесили по городам и общались с местными жителями. На протяжении всей поездки мы ели простую пищу, которую готовили прямо на наших глазах без каких-то особых условий. Всё, что требовалось - это свежие продукты, открытый огонь и болшая сковорода вок. Там мы по-настоящему и полюбили местную уличную еду. По приезду домой мы принялись искать что-то похожее. Но, как вы могли догадаться, ничего стоящего не нашли...</span></p>
        <p><span style="line-height: 1.5em;"><img src="../Images/InsiderEdwardFreemanGet4.jpg" alt="" width="460" height="276" /></span></p>
        <h2><span style="line-height: 1.5em;">Здоровый фаст-фуд</span></h2>
        <p><span style="line-height: 1.5em;">ВОК — это вкусная и питательная еда, приготовленная прямо на ваших глазах на китайской сковороде «вок». Для наших блюд, мы используем только свежее мясо и овощи, которые за несколько минут минуты превращаются во вкуснейшие блюда с лапшой или рисом. В процессе приготовления на воке продукты по максимуму сохраняют все свои полезные свойства, к тому же, вок традиционно считается одним из наиболее полезных способов приготовления пищи. Наши блюда доставляются </span><span style="line-height: 1.5em;">в традиционных китайских коробочках, которые не дают нашим блюдам остыть во время доставки. Кроме того, что вкусно, это еще удобно и эстетично. Попробуйте, уверены, Вам понравится.</span></p>
        <h2><span style="line-height: 1.5em;">Франшиза</span></h2>
        <p><span style="line-height: 1.5em;">Если вы хотите открыть бизнес в сфере общественного питания в своем регионе, мы готовы поделиться своим опытом на взаимовыгодных условиях. Оставьте свою заявку через форму ниже или на почту info@wok-shop.by и мы предложим индивидуальные условия.</span></p>
        <p> </p>
    </div>
</div>