@{
    Layout = "~/Views/Shared/HomeLayout.cshtml";
    ViewBag.Title = "Условия доставки";
    ViewBag.Menu = "delivery";
}


<div class="container">
    <h2 class="delivery-h">Условия и сроки доставки</h2>
    <div class="delivery_description">
        <p>Дорогие друзья! Для того чтобы доставка для вас была максимально быстрой, а еда оставалась горячей мы ввели следующие правила доставки:</p>
        <p><a href="/Home/Index">Доставка еды в Минске</a> нашей курьерской службой производится <strong>бесплатно! </strong>Минимальный заказ на доставку составляет<strong> 150 000 рублей</strong><span style="line-height: 1.5em;">. Примерное время доставки составляет от 60</span> минут до 100 минут<span style="line-height: 1.5em;"> в зависимости от загрузки и часов пик. </span></p>
        <p><span style="line-height: 1.5em;">Если сумма вашего заказа менее 150 000 рублей, то Вы можете оформить его навынос и забрать самостоятельно.</span></p>
        <p>Если вы находитесь за пределами указанной зоны, но вам бы очень хотелось попробовать горячий ВОК, по предварительному согласованию с клиентом мы можем рассчитать стоимость доставки согласно действующих тарифов такси на перевозку.</p>
        <p><span style="line-height: 1.5em;">Прием заказов осуществляется с <strong>11:00 до 22:00 (вс-чт) и с 11:00 до 23:00 (пт-сб)</strong></span></p>
        <p><strong>Зона доставки <span style="line-height: 1.5em;"> </span></strong></p>
        <p>
            <strong>
                <script type="text/javascript" charset="utf-8" src="//api-maps.yandex.ru/services/constructor/1.0/js/?sid=VG3UzNNRLoQZ4uVMsq5RH_BDfFJC6Hz5&width=100%&height=400"></script>
            </strong>
        </p>
        <p><strong>Как сделать заказ?</strong></p>
        <p>Для того чтобы сделать заказ на сайте, необходимо кликнуть на кнопку "добавить" под интересующими вас блюдами и товарами. <span>После того, как Вы сделали заказ и положили его в корзину, Вы должны его оформить. Для этого нажмите на кнопку "оформить" во вкладке "ваш заказ и заполните все поля формы, а также выберите удобный способ доставки и оплаты. После этого нажмите кнопку "Сделать заказ". В течение 5-15 минут с вами свяжется оператор для подтверждения заказа.</span></p>
        <p><span>Вы также можете сделать заказ у оператора самостоятельно связавшись с нами по телефону </span>788-4444</p>
        <p><strong>Самовывоз</strong></p>
        <p>Не хотите ждать? Не входите в зону? Вы также можете забрать заказ самостоятельно, предварительно оформив его на сайте либо по телефону. Макcимальное время ожидания 30 минут. Подробности уточняйте у оператора.</p>
        <p><strong>Оплата</strong></p>
        <p>К оплате принимаются наличные рубли. Так же возможна оплата банковской картой через терминал (курьер приедет с териминалом) либо онлайн. <span style="line-height: 1.5em;">В случае, если вам необходима сдача либо хотите произвести оплату банковской картой, мы просим вас предупредить об этом нашего оператора. </span></p>
        <p><strong style="line-height: 1.5em;">Скидка на большой заказ</strong></p>
        <p><span style="line-height: 1.5em;">Если сумма вашего заказа более </span><strong style="line-height: 1.5em;">1 000 000 </strong><span style="line-height: 1.5em;">рублей - для вас действует <strong>скидка 10%</strong>. Скидка не распространятеся на другие акции.</span></p>
        <p><span style="line-height: 1.5em;">Также у нас действует программа лояльности для постоянных клиентов.</span></p>
        <p><strong style="line-height: 1.5em;">Возврат </strong></p>
        <p><span style="line-height: 1.5em;">Заказы выполненные в гарантированный срок и соответствующие параметрам заказа возварту и обмену не подлежат. В иных случаях, при оплате заказа банковской картой, в</span><span style="line-height: 1.5em;">озврат денежных средств осуществляется на ту карточку, с которой была произведена оплата. </span><span style="line-height: 1.5em;">В случае ошибочного заказа, или невозможности принять заказ, клиент должен обязательно уведомить службу доставки по телефонам указанным на сайте. В случае, если Вы не получили заказ, Вам необходимо обратиться в службу технической поддержки по телефонам и e-mail. Менеджеры Вас обязательно проконсультируют.</span></p>
    </div>
</div>