<div class="footer">
    <div class="container">
        <div class="footer-grids">
            <div class="col-md-4 about-us">
                <h3>Wok-Shop</h3>
                <p>
                    Доставка китайской еды. Быстро. Вкусно. Дёшево.
                </p>
            </div>
            <div class="col-md-2 ftr-grid">
                <h3><a href="/Foods/Foods">Еда</a></h3>
            </div>
            <div class="col-md-2 ftr-grid">
                <h3><a href="/Foods/AddFood">Добавить</a></h3>
            </div>
            <div class="col-md-2 ftr-grid">
                <h3><a href="/Order/Order">Заказы</a></h3>
            </div>
            <div class="col-md-2 ftr-grid">
                <h3><a href="/Account/Logout">Выход</a></h3>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
