<div class="slider">
    <div class="callbacks_container">
        <ul class="rslides" id="slider">
            <li>
                <div class="banner1">
                    <div class="banner-info">
                        <h3>Самые вкусные мясные блюда</h3>

                        <p>
                            Свинина, говядина, курица и утка. Пальчики оближешь!
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="banner2">
                    <div class="banner-info">
                        <h3>Наши коробки легко открываются</h3>

                        <p>
                            А лапша такая запутанная, что морские узлы отдыхают!
                        </p>
                    </div>
                </div>
            </li>
            <li>
                <div class="banner3">
                    <div class="banner-info">
                        <h3>В наших бульонах можно увидеть тайны Вселенной</h3>

                        <p>
                            Яйцо, зелёный лук, грибы шиитаке - всё это результат Большого Взрыва...
                        </p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
